@model PaymentInfoModel

@{
    Layout = "";
}

@Html.Hidden("PaystackPaymentType", "PaymentType")

<div class="opt-form">
    <div class="form-group row">
        @if (Model.SupportedCurrencies != null && Model.SupportedCurrencies.Count > 0)
        {
            @Html.LabelFor(model => model.Currencies, new { @class = "col-md-3 col-form-label required" })
            <div class="col-md-9">
                <div><img src="@Url.Content(Model.IconUrl)" /></div>
                @Html.DropDownListFor(model => model.Currency, Model.Currencies, new { @class = "form-control noskin" })
            </div>
        }
        else
        {
            <span> @ViewBag.CurrencyLoadMessage </span>
        }
    </div>

    <div class="form-group row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <span>
                @{
                    if (Model != null && Model.CardIconUrls != null && Model.CardIconUrls.Count > 0)
                    {
                        foreach (string iconUrl in Model.CardIconUrls)
                        {
                            <img class="icon img-responsive" src="@Url.Content(iconUrl)" />
                        }
                    }
                }
            </span>
        </div>
    </div>


</div>



@*<div style="margin:50px;">
    Payment info

    <div><img src="images/logo.png" alt="icon" /></div>
</div>*@
